@{
    ViewBag.Title = "Home";
}

@if (TempData["success"] != null)
{
    <p style="color: #f00">
        @TempData["success"].ToString()
    </p>
}

    <div class="jumbotron">
        @if (User.IsInRole("Admin"))
        {
            <h1>Welcome back Admin</h1>
            <p class="lead">Get started</p>
            @Html.ActionLink("Pre-made forms", "preMadeForms", "Admin", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Styles", "allStyles", "Admin", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Users", "allUsers", "Admin", null, new { @class = "btn btn-primary" })
        }
        else if (!User.Identity.IsAuthenticated)
        {
            <h1>HTML form generator</h1>
            <p class="lead">HTML form generatior is a web application for making HTML froms.</p>
            <p>To generate <a href="/Generator/customForm">custom forms</a> and or get more <a href="/Generator/preMadeForms">pre-made forms</a> log into your account or register if you dont have account.</p>
            @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-success" })
        }
        else
        {
            <h3>Welcome: @User.Identity.Name</h3>
            <h1>HTML form generator</h1>
            <p class="lead">HTML form generatior is a web application for making HTML froms.</p>
            <p>Browse <a href="/Generator/preMadeForms">pre-made forms</a> or generate <a href="/Generator/customForm">custom forms</a>.</p>
        }
    </div>

