@model IEnumerable<HTML_form_generator.Models.PreMadeForm>
@{
    ViewBag.Title = "Pre-made forms";
}

<h2>Pre-made forms</h2>
<hr />
<div class="row" style="padding: 0px 50px">
    @foreach (var category in ViewBag.Categories)
    {
        <h2>Category: @category</h2>
        foreach (var item in Model)
        {
            if (item.Category == category)
            {
                if (User.Identity.IsAuthenticated)
                {
                    <div style="width: 200px; height:200px; border: 2px dashed #fff; text-align:center; display: inline-block; margin:5px">
                        <h3>@item.Name</h3>
                        <h5>Style: @item.Style.Name</h5>
                        <p>
                            Bootstrap: @if (item.withBootstrap)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </p>
                        <button type="button" data-item="@item.Code" class="btn btn-default clsDetails">Preview</button>
                        @Html.ActionLink("Code", "preMadeFormCode", "Generator", new { id = item.id }, new { @class = "btn btn-primary" })
                    </div>
                }
                else if (!User.Identity.IsAuthenticated && item.Free)
                {
                    <div style="width: 200px; height:200px; border: 2px dashed #fff; text-align:center; display: inline-block; margin:5px">
                        <h3>@item.Name</h3>
                        <h5>Style: @item.Style.Name</h5>
                        <p>
                            Bootstrap: @if (item.withBootstrap)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove"></span>
                            }
                        </p>
                        <button type="button" data-item="@item.Code" class="btn btn-default clsDetails">Preview</button>
                        @Html.ActionLink("Code", "preMadeFormCode", "Generator", new { id = item.id }, new { @class = "btn btn-primary" })
                    </div>
                }


            }
        }
        <hr />
    }

</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="display:inline-block">Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: #fff">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="dvData"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(document).on("click", ".clsDetails", OpenModalPopUp);
    });

    function OpenModalPopUp() {
        var itemName = $(this).data("item");
        $('.dvData').html(itemName);
        $("#myModal").modal();
    }
</script>









